---
const { menuId } = Astro.params;

import sharp from "sharp";
import LayoutAdmin from "../../../../layouts/LayoutAdmin.astro";
import { supabase } from "../../../../services/supabase";

import Section from "../../../../components/Section.astro";
import { image } from "@cloudinary/url-gen/qualifiers/source";

const { data: menu } = await supabase
   .from("menus")
   .select("*")
   .eq("id", menuId)
   .single();
const req = Astro.request;
const id = menuId;

const { data, error } = await supabase.from("kategori").select();

const uploadStream = async (buffer: Uint8Array, option: any) => {
   const { data, error } = await supabase.storage
      .from("images")
      .upload(option.path, buffer, {
         cacheControl: "3600",
         upsert: false,
      });
   if (error) {
      console.log(error);
   }
   console.log(data);
};

if (Astro.request.method === "POST") {
   const formData = await Astro.request.formData();
   const { nama, kategori, hargapanas , hargadingin } = Object.fromEntries(
      formData.entries()
   );

   // const file = formData.get("file") as File;
   // if (file === null) {
   //     alert("file tidak boleh kosong");
   // }else{
   //    const buffer = await file.arrayBuffer();
   //    const option = {
   //       path: `images/${file.name}`,
   //    };

   //    const resizedBuffer = await sharp(buffer)
   //       .resize({ width: 500 })
   //       .toBuffer();
         
      

   //    await uploadStream(new Uint8Array(resizedBuffer), option);
      
      
   // }
   // const imageurl = `https://wxnmwtambphlaobvcbaa.supabase.co/storage/v1/object/public/images/images/${file.name}`;

 try {
   const hargaPanas = !hargapanas ? null : hargapanas;
   const hargaDingin = !hargadingin ? null : hargadingin;
   const { error } = await supabase
      .from("menus")
      .update({ nama, kategori_id: kategori, harga_panas:hargaPanas, harga_dingin:hargaDingin })
      .eq("id", id);

   if (error) {
      console.log(error);
   }
   
 } catch (error) {
   console.log(error);
 }
   return Astro.redirect("/admin/menu");
}
---

<LayoutAdmin title="admin page">
   <Section title="Tambah Menu">
      <div class="w-full flex gap-5">
         <form action="" method="post" enctype="multipart/form-data">
            <input
               type="text"
               value={menu.nama}
               name="nama"
               placeholder="masukan nama menu"
            />
            <select class="text-black" name="kategori" id="">
               {
                  data.map((item: any) => {
                     return (
                        <option value={item.id}>{item.nama_kategori}</option>
                     );
                  })
               }
            </select>
            <span class="flex w-full">
               <input class="w-[50%]" value={menu.harga_panas} type="number" name="hargapanas" placeholder="harga menu(panas)">
               <input class="w-[50%]" value={menu.harga_dingin} type="number" name="hargadingin" placeholder="harga menu(dingin)">
           </span>

            <input type="hidden" name="imgurl" />
            <input type="file" class="image" name="file" />
            <button type="submit">Submit</button>
         </form>

         <div>
            <img src={menu.imageurl} alt="" />
         </div>
      </div>
   </Section>
</LayoutAdmin>

<style>
   form {
      padding: 8px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-right: 2px;

      color: white;
      height: 400;
      width: 500px;
   }
   input {
      border-radius: 10px;
      color: black;
      padding: 5px;
   }
   input[type="file"] {
      border-radius: 6px;
      color: rgb(255, 255, 255);
      padding: 5px;
   }
   button {
      background-color: tomato;
      padding: 5px;
      color: white;
      border-radius: 10px;
   }

   img {
      width: 300px;
      height: 300px;
   }
</style>
